* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Main--page {
  padding: 15px;
}

/* 
@media (max-width:450px) {
  .button-box {
    width: 150px;
    height: 45px;
    padding: 0 5px;
    gap: 5px;
  }

  .button-box img {
    width: 20px;
    height: 20px;
  }

  .button-box .button {
    font-size: 14px;
    font-weight: 500;
  }

  .navbar-2 img {
    width: 24px;
    height: 24px;
  }

  .logo-flags {
    padding: 0 0 0 6px;
  }

  .name-box h1 {
    font-size: 27px;
  }

  .name-box p {
    font-size: 13px;
  }
} */